img.Welcome {
    max-width: 100%;
    height: auto;
  }
  .column1 {
    float: right;
    max-width: 40%;
    height: auto;
  }
  .column2 {
    float: left;
    max-width: 50%;
    height: auto;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .center {
    margin: auto;
    width: 20%;
    padding: 10px;
  }
  .container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
  }